In [4]:
import pandas as pd
import numpy as np
import seaborn as sns
#https://www.kaggle.com/code/kerneler/starter-car-insurance-claim-data-62f4f91c-d/notebook

In [5]:
df = pd.read_csv("car_insurance_claim.csv")

In [43]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10302 entries, 0 to 10301
Data columns (total 27 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   ID          10302 non-null  int64
 1   KIDSDRIV    10302 non-null  int64
 2   BIRTH       10302 non-null  object
 3   AGE         10295 non-null  float64
 4   HOMEKIDS    10302 non-null  int64
 5   YOJ         9754 non-null   float64
 6   INCOME      9732 non-null   object
 7   PARENT1     10302 non-null  object
 8   HOME_VAL    9727 non-null   object
 9   MSTATUS     10302 non-null  object
 10  GENDER      10302 non-null  object
 11  EDUCATION   10302 non-null  object
 12  OCCUPATION  9637 non-null   object
 13  TRAVTIME    10302 non-null  int64
 14  CAR_USE     10302 non-null  object
 15  BLUEBOOK    10302 non-null  object
 16  TIF         10302 non-null  int64
 17  CAR_TYPE    10302 non-null  object
 18  RED_CAR     10302 non-null  object
 19  OLDCLAIM    10302 non-null  object
 20  CLM_FREQ    10302 non-null  int64
 21  REVOKED     10302 non-null  object
 22  MVR_PTS     10302 non-null  int64
 23  CLM_AMT     10302 non-null  object
 24  CAR_AGE     9663 non-null   float64
 25  CLAIM_FLAG  10302 non-null  int64
 26  URBANICITY  10302 non-null  object
dtypes: float64(3), int64(8), object(16)
memory usage: 2.1+ MB

In [48]:
#df['HOME_VAL'].unique()
for i in df.columns:
    print(i)
    print(df.loc[:,i].unique())

ID
[ 63581743 132761049 921317019 ...  67790126 849208064 680381960]
KIDSDRIV
[0 1 2 3 4]
BIRTH
['16MAR39' '21JAN56' '18NOV51' ... '13AUG54' '18JUN51' '27FEB47']
AGE
[60. 43. 48. 35. 51. 50. 34. 54. 40. 44. 37. 53. 55. 45. 39. 59. 42. 31.
 28. 47. 46. 33. 32. 49. 36. 52. 41. 56. 38. 63. 62. 30. 29. 58. 64. 66.
 26. 61. 80. 57. nan 25. 27. 20. 21. 19. 72. 69. 24. 67. 22. 23. 65. 70.
 17. 16. 81. 73. 71. 68. 18. 76.]
HOMEKIDS
[0 1 2 3 4 5]
YOJ
[11. 10. 14. nan 12.  7.  5.  0. 13.  9. 17.  8. 15. 16.  6. 18. 23.  4.
  3.  2. 19.  1.]
INCOME
['$67,349' '$91,449' '$52,881' ... '$164,669' '$107,204' '$53,235']
PARENT1
['No' 'Yes']
HOME_VAL
['$0' '$257,252' '$124,191' ... '$332,591' '$170,611' '$197,017']
MSTATUS
['z_No' 'Yes']
GENDER
['M' 'z_F']
EDUCATION
['PhD' 'z_High School' 'Bachelors' '<High School' 'Masters']
OCCUPATION
['Professional' 'z_Blue Collar' 'Manager' 'Clerical' 'Doctor' 'Lawyer' nan
 'Home Maker' 'Student']
TRAVTIME
[ 14  22  26   5  32  36  46  33  21  30  44  34  48  15  25  64  74  43
  45  42  27  29  52   8   7  16  37  12  38  65  18  47  10  40  62  35
  24  20  50  13  31  28  11   9  57  49  61  41  23  59  17  63  53  68
  54  60  39  69  55  73  51  58  81  19   6  83  56  75  84  70  67  72
  79  76  78  66  88  71  90  86  87 113  80  98  77  93  82 124  85 142
  99  95 105  92 134  89 103  97  91 101]
CAR_USE
['Private' 'Commercial']
BLUEBOOK
['$14,230' '$14,940' '$21,970' ... '$2,790' '$28,490' '$32,960']
TIF
[11  1  4  7  6 10  9 17 18 13  5  3 16 12  8 14 20 22 21  2 15 19 25]
CAR_TYPE
['Minivan' 'Van' 'z_SUV' 'Sports Car' 'Panel Truck' 'Pickup']
RED_CAR
['yes' 'no']
OLDCLAIM
['$4,461' '$0' '$38,690' ... '$33,026' '$3,995' '$9,245']
CLM_FREQ
[2 0 1 3 5 4]
REVOKED
['No' 'Yes']
MVR_PTS
[ 3  0  2 10  1  4  5 13  8  6  7  9 11 12]
CLM_AMT
['$0' '$2,946' '$6,477' ... '$3,106' '$3,135' '$1,815']
CAR_AGE
[18.  1. 10.  6. 17.  7. 11.  9.  4.  5. 13. 16. 20. 14. 12. 15. nan  8.
  3. 21. 19. 23.  0. 22.  2. 26. 27. 24. 25. -3. 28.]
CLAIM_FLAG
[0 1]
URBANICITY
['Highly Urban/ Urban' 'z_Highly Rural/ Rural']

'ID', - identfyfikator </br>
'KIDSDRIV' - (0,1,2,3,4) </br>
'BIRTH' - data urodzenia, DZIEN-MIESIAC-ROK'</br>
'AGE' - wiek (16 - 81)</br>
'HOMEKIDS' - ile klient ma dzieci (0-5) </br>
'YOJ' - Year of J?  </br>
'INCOME' - dochód</br>
'PARENT1' -  (No, Yes)</br>
'HOME_VAL' - ? </br>
'MSTATUS' - (yes/no) </br>
'GENDER' - płeć, przykład 'M', 'z_F </br>
'EDUCATION' - wykształcenie - 'PhD', 'z_High School', 'Bachelors', 'High School', 'Masters'</br>
'OCCUPATION' - zawód - przykładowo -'Manager', 'Doctor' </br>
'TRAVTIME' -  czas podrózy?w minutach?(14 -101)</br>
'CAR_USE' - charakter użytkowania pojazdu - prywatny / komercyjny </br>
'BLUEBOOK' - wartość pojazdu/ w USA używają tzw BlueBook</br>
'TIF' - (2,25)</br>
'CAR_TYPE' - typ ['Minivan', 'Van', 'z_SUV', 'Sports Car', 'Panel Truck', 'Pickup']</br>
'RED_CAR' - </br>
'OLDCLAIM' - koszt przeszłych roszczeń</br>
'CLM_FREQ' - częstość roszczeń </br>
'REVOKED' - odwolanie (TAK, NIE) </br>
'MVR_PTS' - (0, 13)</br>
'CLM_AMT' - liczba roszczeń (0,1,2,3,4,5)</br>
'CAR_AGE' - wiek samochodu</br>
'CLAIM_FLAG' - wystąpienie roszczenia - (0, 1)</br>
'URBANICITY' - miejsce wypadku ? ('Highly Urban/ Urban', 'z_Highly Rural/ Rural') </br>

In [42]:
report = pd.DataFrame(df.describe()).round(2)
report

,ID,KIDSDRIV,AGE,HOMEKIDS,YOJ,TRAVTIME,TIF,CLM_FREQ,MVR_PTS,CAR_AGE,CLAIM_FLAG
count,1.030200e+04,10302.00,10295.00,10302.00,9754.00,10302.00,10302.00,10302.00,10302.00,9663.00,10302.00
mean,4.956631e+08,0.17,44.84,0.72,10.47,33.42,5.33,0.80,1.71,8.30,0.27
std,2.864675e+08,0.51,8.61,1.12,4.11,15.87,4.11,1.15,2.16,5.71,0.44
min,6.317500e+04,0.00,16.00,0.00,0.00,5.00,1.00,0.00,0.00,-3.00,0.00
25%,2.442869e+08,0.00,39.00,0.00,9.00,22.00,1.00,0.00,0.00,1.00,0.00
50%,4.970043e+08,0.00,45.00,0.00,11.00,33.00,4.00,0.00,1.00,8.00,0.00
75%,7.394551e+08,0.00,51.00,1.00,13.00,44.00,7.00,2.00,3.00,12.00,1.00
max,9.999264e+08,4.00,81.00,5.00,23.00,142.00,25.00,5.00,13.00,28.00,1.00

### Scenariusz eksploracji danych zawarte w analizie

1. Frequency Count
2. 
3. Analiza pareto
4. Zależności pomiędzy zmiennymi

1. Unikalne wartośći

2. Analiza częstości

In [ ]:
housing[numerical].hist(bins=15, figsize=(15, 6), layout=(2, 4));

4. Zależność

In [ ]:
sns.jointplot(x=housing['1stFlrSF'], y=housing['SalePrice']);